body {
  font-family: 'Saira Extra Condensed', sans-serif;
}
h3 {
  margin: 20px;
}
.text-group {
  font-size: 1.2em;
  color: #ff8c00;
}
#vis1 {
  margin: auto;
  width: 80vw;
}
#results_container {
  display: flex;
  flex-direction: column;
}
#results_container div {
  margin: 5px;
}
#explanation {
  width: 70vw;
}

#flex_container {
  display: flex;
}

#vis2 {
  width: 50vw;
}
.subcontainer {
  flex-direction: column;
}
/* Styling for the dropdown menus */
/* Dropdown Button */

.dropbtn {
    background-color: steelblue;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color .8s;
}
/* style specific buttons */
#city_btn {
    background-color: steelblue;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color .8s;
}
#city_btn:hover {
    background-color: turquoise;
    color: white;
}

#job_btn {
    background-color: steelblue;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color .8s;
}
#job_btn:hover {
    background-color: turquoise;
    color: white;
}
#mortgage_btn {
    margin-top: 20px;
    background-color: steelblue;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color .8s;
}
#mortgage_btn:hover {
    background-color: turquoise;
    color: white;
}

#main_job_btn {
    background-color: steelblue;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color .8s;
}
#main_job_btn:hover {
    background-color: turquoise;
    color: white;
}
/* setting up the container for the dropdown */
.dropdownContainer {
    position: relative;
    display: inline-block;
}

/* Styling the dropdown content and hiding it */
.dropdownContainer div {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
    height: 500px;
}

/* Links inside the dropdown */
.dropdownContainer div li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdownContainer div li:hover {
  background-color: #f1f1f1;
}

 /*Show the dropdown menu on hover*/
.dropdownContainer:hover div {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
    background-color: turquoise;
    color: white;
}
